footer {
  background-color: #f9f9f9;
}
.footer-container {
  width: 1496px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-logo {
  width: 103px;
  margin-bottom: 24px;
}
.footer-text {
  width: 390px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #1e2833;
  margin-bottom: 85px;
}
.footer-address {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.204545px;
  color: #1e2833;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.footer-link-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.231818px;
  color: #000000;
  margin-bottom: 20px;
}
.footer-link {
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.204545px;
  color: #1e2833;
  margin-bottom: 20px;
}
.footer-link:last-child {
  margin-bottom: 0;
  width: 159px;
}
