.news {
  width: 1496px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 396px;
}
.news-title {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.25px;
  color: #222222;
}
.news-img-block {
  width: 846px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 52px;
}
.block-img {
  border-radius: 50%;
  width: 124px;
  height: 124px;
  position: relative;
  border: 5px solid #fc4d82;
  padding: 5px;
  object-fit: cover;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.list-item {
  width: 360px;
  margin-bottom: 48px;
}
.list-img {
  width: 360px;
  height: 300px;
  margin-bottom: 24px;
}
.item-date {
  margin-bottom: 8px;
  color: #aebec9;
}
.item-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}
